.main {
  min-height: 95%;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  width: 60%;
  margin-bottom: 2rem;
}

.description {
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: center;
  width: 70%;
  border-radius: 10px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: -330px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  min-height: 200px;
  max-height: 200px;
  transition: 0.3s;
}

.card:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  transition: 0.3s;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.themeButton {
  float: right;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background: #fafafa;
  color: #000000;
  font-size: 1rem;
  cursor: pointer;
  font-size: 30px;
  transition: background 0.15s ease, color 0.15s ease;
}

.themeButton:hover,
.themeButton:active {
  background: #2759ff;
  color: #fff;
}

.themeButton:focus {
  background: #000000;
  color: #fff;
}

.articleText {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.button {
  margin: 1rem;
  padding: 0.5rem;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 10px;
  background: #fafafa;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  font-size: 30px;
  transition: all 0.3s ease;
}

.button:hover,
.button:active {
  background: #000000;
  color: #fff;
}

.contentWrapper {
  margin-top: 40px;
  width: 60%;
}

.scoresection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.questionsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.questioncount {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.answersection {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.answerbutton {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.3rem;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.answerbutton:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #ffffff;
}

.nextAndBackButtons {
  /*Position them in the middle*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.backButton,
.nextButton {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-style: solid;
  color: #000000;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.backButton:hover,
.nextButton:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #ffffff;
  transition: all 0.2s;

}

.article1 {
  border-color: red;
}

.article2 {
  border-color: red;
}

.article3 {
  border-color: red;
}

.article4 {
  border-color: rgb(255, 238, 0);
}

.article5 {
  border-color: rgb(255, 238, 0);
}

.article6 {
  border-color: rgb(0, 81, 255);
}

.article7 {
  border-color: rgb(0, 81, 255);
}

.article8 {
  border-color: rgb(0, 81, 255);
}

.article9 {
  border-color: rgb(0, 81, 255);
}

.article10 {
  border-color: rgb(0, 146, 0);
}

.article11 {
  border-color: rgb(0, 146, 0);
}

.article12 {
  border-color: rgb(255, 0, 212);
}

.article13 {
  border-color: rgb(255, 0, 212);
}

.article14 {
  border-color: rgb(0, 251, 255);
}

.article15 {
  border-color: rgb(0, 251, 255);
}

.article16 {
  border-color: rgb(255, 255, 255);
}
.pagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.listcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border: solid grey;
  border-radius: 10px;
  padding: 1rem;
  margin-right: -900px;
  position: sticky;
  top: 0;
}

.listcontainer:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #ffffff;
}

.listcontainer h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  margin: 1rem;
}

.erklärung {
  color: red;
}

.entstehung {
  color: rgb(255, 238, 0);
}

.währung {
  color: rgb(0, 81, 255);
}

.lander {
  color: rgb(0, 146, 0);
}

.bezug {
  color: rgb(255, 0, 212);
}

.betroffen {
  color: rgb(0, 251, 255);
}

.quellen {
  color: rgb(255, 255, 255);
}

.hidden {
  display: none;
}


.imagesWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-top: 40px;
}

.firstLetter {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}